<div class="register">
    <div>
        <h1>ELE<span class="login_elevate">VA</span>TE</h1>
    </div><br>
    <mat-card class="register_card">
       
        <form class="register_form">
            <mat-toolbar> <span class="register_toolbar"><h2>Sign Up</h2></span></mat-toolbar>
           
            
             <mat-form-field appearance="outline" class="my-form-field">
                <!-- <mat-label>Email Address</mat-label>     -->
              <input matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="my-form-field">
                <!-- <mat-label>Email Address</mat-label>     -->
              <input matInput placeholder="Email Address">
            </mat-form-field>
            <mat-form-field appearance="outline"  class="my-form-field">   
                <!-- <mat-label>password</mat-label>     -->
                <input matInput placeholder="Password" type="password">
              </mat-form-field>
              <mat-form-field appearance="outline"  class="my-form-field">   
                <!-- <mat-label>password</mat-label>     -->
                <input matInput placeholder="Conform Password" type="password">
              </mat-form-field>
              <br>

           <div class="div_btn2">
            <button mat-raised-button type="submit" class="btn2" style="text-align:center">Sign Up</button>
           </div>
    
          </form>
          
          
    </mat-card>
</div>








