.shiksha-logo {
 height: 70px;
 padding-left: 30px;
}
.header-container{
  height: 10%;
  box-shadow: 3px 3px 3px 3px rgb(224, 223, 223);
  display: grid;
  grid-template-columns: 80% 20%;
 
}
.log-out{
  padding-top: 20px;
  text-align: center;
  align-items: center;
 
}
.template-selection-container{
  height: 88vh;
  display:grid;
  grid-template-columns: 50% 50%;
  margin: 5px;
}
.tempplate-download-card{
   background-color: #f7f7f7;
   margin: 15%;
   
   
}
.tempplate-upload-card{
  background-color: #f7f7f7;
  margin: 15%
  
}
.container{
  display: flex;
  flex-direction: column;
}
.card-conatiner-upload{
  padding-top: 20px;
  display: grid;
  height: 30vh;
  grid-template-rows: 40% 30% 30%;
  grid-gap: 20px;

}
.card-conatiner-download{
  padding-top: 20px;
  display: grid;
  height: 30vh;
  grid-template-rows: 70% 30%;
  grid-gap: 20px;
}
.tempplate-download, .tempplate-upload{
  width: 250px;
  font-size: large;
  font-weight: 500;
  color: #8b0000;

}
.template-upload-button-container{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.tempplate-card{
  display: flex;
  flex-wrap: wrap;
}
.upload-button{
  background-color: #8b0000;
  color: white;
  width: 250px;
}
.template-fileName{
  padding-top: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.download-button{
  background-color: #5db849;
  color: white;
  width: 250px;
}
.select-div{
  display: flex;
  max-width: 80px;
  align-items: center;
  justify-content: center;
}

.card-conatiner  p{
  font-weight: 500;
  padding-left: 20px;
}
.template-button{
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}
.select-button{
  width:60%;
  text-align: center;
}
.select-opt{
  text-align: center;
}

.spinner{
  display:flex;
  flex-direction: column;
  gap:20px;
  padding-top: 15%;
  align-items: center;
  justify-content: center;
}
.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #8b0000;
}

@media (max-width: 1000px) {
 .template-selection-container{
  display: flex;
  flex-direction: column;
 }
}