<div>
    <div> <img class="shiksha-logo" src="../../../../assets/Images/shikshalokam-logo.png" alt=""></div>
    <div class="download-horizontal">
        <hr>
    </div>
    <div class="tempplate-download">
        <p class="template-sections"> Template Download Section </p>
    </div>

    <div class="download-section">
        <div class="templates-text">
            <p> Templates</p>
        </div>
        <div class="flex-container">
            <div>
                <button mat-raised-button class="select-button">
                    <mat-select placeholder="Select Template">
                        <mat-option *ngFor="let downloadTemplate of downloadTemplates" [value]="downloadTemplate"
                            class="select-opt">
                            {{ downloadTemplate }}
                        </mat-option>
                    </mat-select>
                </button>
            </div>
            <div>&nbsp;&nbsp;&nbsp;
                <button (click)="templateDownload()" mat-raised-button class="download-button"> Download </button>
            </div>
        </div>
    </div>

    <div class="upload-horizontal">
        <hr class="upload-hr">
    </div>
    <div class="tempplate-upload">
        <p class="template-sections"> Template Upload Section</p>
    </div>
    <div>
        <div class="select-file">
            <div class="select-div">
                <mat-select name="countryString" placeholder="Select File" class="matpanel">
                    <mat-option *ngFor="let uploadTempplate of uploadTemplates" [value]="uploadTempplate"
                        class="select-opt" (click)="fileUpload(fileInput)">
                        <input type="file" accept=".xlsx" style="display: none;" #fileInput
                            (change)="getFileDetails($event)" />
                        <span > {{uploadTempplate}} </span>
                    </mat-option>
                </mat-select>
            </div>
            <div class="select-div"> {{fileName}}</div>
            <div class="upload-div">
                <button (click)="templateDownload()" mat-raised-button class="upload-button"> Upload </button>
            </div>
        </div>
    </div>

</div>