.shiksha-logo {
  height: 70px;
  padding-left: 30px;
 }
 .header-container{
   height: 10%;
   display: grid;
   grid-template-columns: 80% 20%;

 }
 .log-out{
   padding-top: 20px;
   text-align: center;
   align-items: center;

 }
.download-horizontal {
  height: 30px;
}

.template-sections {
  padding-top: 15px;
}
.export_div {
  padding-bottom: 20px;
}

.tempplate-download {
  width: 12%;
  height: 40px;
  padding-left: 40px;
  border-radius: 20px;
  background-color: #8b0000;
  color: white;
  position: absolute;
  clip: rect(11px, 287px, 200px, 0px);
  margin-top: -40px;
}
.export_report_div {
  display: flex;
  flex-direction: row;
}
.download_div{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.download-section {
  margin-top: 1%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 93%;
}

.templates-text {
  padding-top: 20px;
  padding-left: 20px;
  color: grey;
}

.select-button {
  border: solid 1px #bcb7b7;
  border-radius: 20px;
  padding: 4px 36px;
}

.export-button {
  border-radius: 20px;
  background-color: #008000b5;
  padding: 0 70px;
  color: white;
}
.report-button {
  border-radius: 20px;
  background-color: #008000b5;
  padding: 0 83px;
  color: white;
}
::ng-deep .mat-select-panel-wrap {
  position: absolute;
  top: 46px !important;
}

.select-opt {
  border-radius: 20px;
  border: 1px solid grey;
}
::ng-deep .mat-select-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 0px 0px 0px;
  margin-left: -20px;
}


// ................................................................................

table {
  width: 100%;
  justify-content: center;
 text-align: center;

}

.m-t-xl {
  margin-top: 40px;
  margin-bottom: 40px;
}

.normal-table-heading {
  margin-top: 40px;
}

.normal-table {
  th {
    text-align: right;
    padding: 8px;
  }
  td {
    padding: 8px;
  }
}

.table_container{
  display: flex;
  flex-direction: column;
 width: 100%;
 justify-content: center;
 text-align: center;
}

::ng-deep  .templates-text[_ngcontent-iid-c156]{
padding-right: 20px;
}

.arrayOfSheet{
  border: solid 1px #bcb7b7;
  border-radius: 20px;
  padding: 4px 36px;
}
.arrayOfSheet_div{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.mat-cell , .mat-header-cell{
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border-right: 1px solid #bcb7b7;
}
// ----------------------------------------------------------------------------------

.selected
{
  border:1px solid red ;
  color:red
}
.basic-error {
  border:1px solid brown ;
  color:brown;
}

.my-tooltip {
  white-space: pre-line;
}



// ::ng-deep  .selected[_ngcontent-cci-c156] {
//   border: 1px solid red;
// }
